@model ServiceViewModel
@{
    ViewData["Title"] = "Index";
}

<!--body content wrap start-->
<div class="main">

    <partial name="_HeaderSection" />
    <!--promo block with hover effect start-->
    <section class="promo-block ptb-100">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.ServicePromos)
                {
                    <div class="col-md-4 col-lg-4">
                        <div class="single-promo-block promo-hover-bg-1 hover-image shadow-lg p-5 rounded">
                            <div class="promo-block-icon mb-3">
                                <span class="@item.Icon icon-md color-primary"></span>
                            </div>
                            <div class="promo-block-content">
                                <h5>@item.Title</h5>
                                <p>@item.Content</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--promo block with hover effect end-->
    <!--services section start-->
    <section class="services-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-4">
                        <h2>First Class Business Solutions for You</h2>
                        <p class="lead">
                            Efficiently aggregate end-to-end core competencies without maintainable ideas. Dynamically
                            foster tactical solutions without enabled value.
                        </p>
                    </div>
                </div>
            </div>
            <partial name="_Services" model="Model.HomeServiceItems" />
        </div>
    </section>
    <!--services section end-->
    <!--counter section start-->
    <section class="call-to-action ptb-100 gradient-overlay"
             style="background: url('/assets/img/@Model.CounterPhoto.Photo')no-repeat top center / cover fixed">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8">
                    <div class="call-to-action-content text-white text-center mb-4">
                        <h2 class="text-white mb-1">Increase More Traffic Your Business?</h2>
                        <p class="lead">Credibly redefine high-payoff web services after holistic experiences. Globally harness multidisciplinary solutions vis-a-vis intuitive customer service.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Counters)
                {
                    <div class="col-md-6 col-lg-3">
                        <div class="single-counter rounded p-4 text-center text-white">
                            <span class="@item.Icon icon-md"></span>
                            <h3 class="mb-0 text-white">@item.Count</h3>
                            <p>@item.Heading</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--counter section end-->
    <!--contact us section start-->
    <section class="contact-us-section ptb-100">
        <div class="container contact">
            <div class="col-12 pb-3 message-box d-none">
                <div class="alert alert-danger"></div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <div class="contact-us-form gray-light-bg rounded p-5">
                        <h4>Ready to get started?</h4>
                        <form asp-action="SendMessage" asp-controller="Services" method="POST" id="contactForm" class="contact-us-form">
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input asp-for="@Model.Message.Name" class="form-control" placeholder="Enter name">
                                        <span asp-validation-for="@Model.Message.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input asp-for="@Model.Message.Email" class="form-control" placeholder="Enter email">
                                        <span asp-validation-for="@Model.Message.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea asp-for="@Model.Message.Text" class="form-control" rows="7" cols="25" placeholder="Message"></textarea>
                                        <span asp-validation-for="@Model.Message.Text" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <button type="submit" class="btn secondary-solid-btn" id="btnContactUs">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-us-content">
                        <h2>Looking for a excellent Business idea?</h2>
                        <p class="lead">Seamlessly deliver pandemic e-services and next-generation initiatives.</p>

                        <a href="#" class="btn outline-btn align-items-center">Get Directions <span class="ti-arrow-right pl-2"></span></a>

                        <hr class="my-5">

                        <h5>Our Headquarters</h5>
                        <address>@Model.Setting.Address</address>
                        <br>
                        <span>Phone: @Model.Setting.Phone</span> <br>
                        <span>Email: <a href="mailto:email@yourdomain.com" class="link-color">@Model.Setting.Email</a></span>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--contact us section end-->
    <partial name="_Client" model="Model.Clients" />


</div>
<!--body content wrap end-->



@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $("#contactForm").submit(function (e) {
            Swal.fire(
                'Good job!',
                'You clicked the button!',
                'success'
            );

        })

    </script>
}

