@model IEnumerable<AspProject.Models.Home.SocialLink>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <p class="d-flex justify-content-center align-items-center">
        <a class="btn btn-outline-success w-25" asp-action="Create"><i class="fas fa-plus"></i></a>
    </p>

<table class="table table-striped ml-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkedin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dribbble)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkedin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dribbble)
            </td>
            <td>
                <a class="btn btn-outline-warning w-25" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a class="btn btn-outline-info ml-1 w-25" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                <a class="btn btn-outline-danger ml-1 w-25" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
