@model ReflectionIT.Mvc.Paging.PagingList<HomeOurNewsItem>;
@using ReflectionIT.Mvc.Paging;
@addTagHelper *, ReflectionIT.Mvc.Paging;
<!--blog section start-->
<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4">
            <div class="single-blog-card card border-0 shadow-sm">
                <div class="blog-img">
                    <a href="#"><span class="category position-absolute">@item.Label</span></a>
                    <a href="#"><img src="~/assets/img/blog/@item.Photo" class="card-img-top position-relative img-fluid" alt="blog"></a>
                </div>
                <div class="card-body">
                    <h3 class="h5 mb-2 card-title"><a href="#">@item.Title</a></h3>
                    <p class="card-text">@item.Content</p>
                </div>
                <div class="card-footer border-0 d-flex align-items-center justify-content-between">
                    <div class="author-meta d-flex align-items-center">
                        <span class="fa fa-user mr-2 p-3 bg-white rounded-circle border"></span>
                        <div class="author-content">
                            <a href="#" class="d-block">@item.Heading</a>
                            <small>@item.AddedDate.ToString("MMMM dd yyyy")</small>
                        </div>
                    </div>
                    <div class="author-like">
                        <a href="#"><span class="fa fa-share-alt"></span> 50</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<!--blog section end-->

