@model List<HomeTeamTwoItem>
<!--team two section start-->
    <section class="team-two-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="staff-member">
                            <div class="card text-center border-0">
                                <img src="~/assets/img/@item.Photo" alt="team image" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="teacher mb-0">@item.FullName</h5>
                                    <span>@item.Position</span>
                                    <ul class="list-inline pt-2 social">
                                        <li class="list-inline-item">
                                            <a href="@item.Facebook" target="_blank">
                                                <span class="ti-facebook"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="@item.Linkedin" target="_blank">
                                                <span class="ti-linkedin"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="@item.Dribbble" target="_blank">
                                                <span class="ti-dribbble"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <div class="overlay-inner">
                                    <p class="teacher-quote">@item.Text</p><a href="#" class="teacher-name">
                                        <h5 class="mb-0 teacher text-white">@item.FullName</h5>
                                    </a>
                                    <span class="teacher-field text-white">@item.Position</span>
                                    <ul class="list-inline py-4 social">
                                        <li class="list-inline-item">
                                            <a href="@item.Facebook" target="_blank">
                                                <span class="ti-facebook"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="@item.Linkedin" target="_blank">
                                                <span class="ti-linkedin"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="@item.Dribbble" target="_blank">
                                                <span class="ti-dribbble"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <p class="teacher-see-profile">
                                        <a href="#" class="btn outline-white-btn">View my profile</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
            <!--team two section end-->
